// Empowerment button
.empowerment-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  cursor: pointer;
  background-color: #212226;
  border: 1px solid #45474b;
}

// Mixin for custom scrollbar
@mixin scrollbar(
  $thumb: #2f2f2f,
  $track: #1b1b1b,
  $thumb-hover: #4f4f4f,
  $width: 6px
) {
  scrollbar-width: thin !important;
  scrollbar-color: #{$thumb} #{$track};
  &::-webkit-scrollbar {
    width: $width;
    background: #{$track};
  }
  &::-webkit-scrollbar-thumb {
    background: #{$thumb};
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #{$thumb-hover};
  }
}

.popup-panel {
  .fetched-users,
  .messages-container,
  .chat-logs-container,
  .active-users,
  .settings-content-container {
    @include scrollbar();
  }

  // Prevent performance issues with large chat logs
  .message-item {
    content-visibility: auto;
  }

  .hidden-message,
  .hidden-date {
    display: none !important;
  }

  // Input error indication
  .input-error {
    transition: background-color 300ms ease-in-out;
    background-color: #6b2f2f !important;
  }

  .date-item {
    position: relative;
    font: 1em Montserrat, sans-serif;
    color: burlywood;
    background-color: rgba(222, 184, 135, 0.1);
    width: fit-content;
    margin: 2em 1em 1em;
    padding: 0.4em 0.8em;
    text-align: center;
    border-radius: 0.4em !important;
    left: 50%;
    transform: translateX(-50%);
  }

  .search-messages-info,
  .search-results-info,
  .search-messages-date,
  .no-messages-info,
  .error-message-info {
    padding: 0.5em;
    border-radius: 0.4em !important;
    width: fit-content;
    margin: 0.5em;
    grid-column: 1 / -1;
  }

  .search-messages-info,
  .search-results-info {
    color: hsl(80, 60%, 70%);
    background: hsla(80, 60%, 70%, 0.1);
  }

  .search-messages-date {
    color: hsl(40, 60%, 70%);
    background: hsla(40, 60%, 70%, 0.1);
  }

  .no-messages-info,
  .error-message-info {
    color: hsl(0, 60%, 70%);
    background: hsla(0, 60%, 70%, 0.1);
  }

  .parse-match-message,
  .search-match-username,
  .search-match-message {
    text-decoration: underline;
  }

  .parse-match-message {
    color: hsl(120, 75%, 75%);
  }

  .search-match-message {
    color: hsl(30, 75%, 75%);
  }
}

// Chat length popup
.length-field-popup {
  position: absolute;
  font: bold 12px Montserrat;
  bottom: 40px;
  transition: left 100ms ease-out;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 4px;
  margin: 2px;
  opacity: 0;
  border: none !important;
}

.bounce-in {
  animation: bounceIn 500ms forwards;
}

@keyframes bounceIn {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  50% {
    transform: translateY(-10px);
    opacity: 1;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.bounce-out {
  animation: bounceOut 500ms forwards;
}

@keyframes bounceOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  50% {
    transform: translateY(-10px);
    opacity: 1;
  }

  100% {
    transform: translateY(0);
    opacity: 0;
  }
}

.userlist,
.user-item {
  .avatar {
    width: 24px;
    height: 24px;
    display: inline-flex;

    img {
      border-radius: 0.2em !important;
      transform-origin: left;
      transition: transform 0.15s;

      &:hover {
        transform: scale(2);
        z-index: 2;
      }
    }
  }
}

// Nested anchor styles for chat panels
.chat-logs-panel,
.cached-messages-panel {
  .message-text {
    a {
      color: burlywood !important;
      transition: color 0.15s ease-in-out;

      &:hover {
        color: lightgoldenrodyellow !important;
      }
    }
  }
}

// Empowerment panel
.empowerment-panel {
  position: fixed;
  top: 50%;
  transform: translateY(-100%);
  right: 15px;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  gap: 0.2em;
}

// Chat user count element
.participant-count {
  filter: grayscale(100%);
  transition: 0.2s ease-in-out;
  font-family: "Orbitron", sans-serif;
  font-size: 24px;
  color: #83cf40;
  background-color: #2b4317;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #4b7328;
  cursor: default;
}

.pulse-effect {
  animation: pulse 500ms ease-out;
}

@keyframes pulse {
  0% {
    filter: brightness(1);
  }

  50% {
    filter: brightness(1.5);
  }

  100% {
    filter: brightness(1);
  }
}

.shake-effect {
  animation: shake 500ms cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-4px);
  }
  20% {
    transform: translateX(6px);
  }
  30% {
    transform: translateX(-8px);
  }
  40% {
    transform: translateX(8px);
  }
  50% {
    transform: translateX(-6px);
  }
  60% {
    transform: translateX(5px);
  }
  70% {
    transform: translateX(-3px);
  }
  80% {
    transform: translateX(2px);
  }
  90% {
    transform: translateX(-1px);
  }
  100% {
    transform: translateX(0);
  }
}

// Tooltip popup
.custom-tooltip-popup {
  position: fixed;
  background: rgb(22, 22, 22);
  color: rgb(222, 222, 222);
  padding: 0.5em;
  z-index: 1200;
  font-size: 0.9em;
  pointer-events: none;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.1s;
  display: none;
  flex-direction: column;
  left: 0;
  top: 0;
  border: 1px solid rgb(60, 60, 60) !important;
  border-radius: 4px !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3) !important;

  .tooltip-item {
    display: inline-flex !important;
    align-items: center !important;
  }

  .tooltip-action {
    font-weight: 500 !important;
    color: hsl(100, 50%, 50%) !important;
  }
}

// Notification containers
.static-chat-notification {
  cursor: default;
  white-space: nowrap;
  padding: 8px;
  display: inline-flex;
  flex: 0 auto;
  justify-content: center;
  margin: 4px;
  font-size: 1em;
  align-items: center;
  border-radius: 4px !important;
}

.dynamic-chat-notifications-container {
  z-index: 1000;
  width: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 160px;
}

.dynamic-chat-notification {
  cursor: default;
  white-space: nowrap;
  position: relative;
  align-items: center;
  width: fit-content;
  display: flex;
  margin-bottom: 0.2em;
  padding: 8px 16px 8px 12px;
  border-radius: 0 4px 4px 0 !important;
  left: 0;
  transform: translateX(-100%);
  opacity: 1;
  transition: transform 0.3s cubic-bezier(0.83, 0, 0.17, 1),
    opacity 0.3s cubic-bezier(0.83, 0, 0.17, 1);
}

// Notification types
.user-enter {
  color: hsl(100, 50%, 50%) !important;
  background-color: hsl(100, 50%, 10%) !important;
  border: 1px solid hsl(100, 50%, 25%) !important;
}

.user-left {
  color: hsl(0, 50%, 70%) !important;
  background-color: hsl(0, 50%, 15%) !important;
  border: 1px solid hsl(0, 50%, 40%) !important;
}

// Thumbnails
.clickable-thumbnail {
  display: flex !important;
  opacity: 1;
  transition: opacity 0.15s ease-in-out;
  border: none !important;
  max-width: 150px;
  max-height: 150px;
  cursor: pointer;
  background-color: transparent;
  margin: 6px;
  overflow: hidden !important;

  img {
    max-height: 100%;
    max-width: 100%;
    background-color: transparent;
    object-fit: contain;
  }

  &:hover {
    opacity: 0.8;
  }
}

.scaled-thumbnail {
  top: 50%;
  left: 50%;
  transform-origin: center center;
  transform: translate(-50%, -50%) scale(1);
  position: fixed;
  opacity: 0;
  z-index: 1000;
  transform-origin: center center;
  max-height: 90vh;
  max-width: 90vw;
  cursor: pointer;
  border-radius: 0.6em !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3), 0 1px 3px rgba(0, 0, 0, 0.28) !important;
}

// Video player
.video-wrapper {
  display: flex;
  flex-direction: column;

  .processed-video {
    margin-bottom: 0.2em !important;
  }

  .youtube-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.2em;
    font-family: "Montserrat", sans-serift;
    font-size: 0.9em;
    color: #8ede87;
    font-weight: 500;
    white-space: break-spaces;
  }
}

.video-container,
.youtube-thumb {
  border-radius: 0.4em !important;
  display: flex;
  border: none;
  height: 200px !important;
  width: 356px !important;
}

.youtube-thumb {
  cursor: pointer !important;
  object-fit: cover !important;
}

// Dimming element
.dimming-background {
  background: black;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  opacity: 0;
  z-index: 998;
}

// Profile iframe
.profile-iframe-container {
  opacity: 0;
  border: none;
  display: flex;
  position: fixed;
  z-index: 1001;
  width: 1080px !important;
  min-width: 1080px !important;
  height: 80vh;
  top: 48.5vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08) !important;
  border-radius: 0.6em !important;
}

// Scroll buttons
.scroll-buttons-container {
  display: flex;
  justify-content: center;
  grid-area: scroll;
  flex-direction: column;
  height: calc(100% - 1em);
  padding: 1em;

  .scroll-button {
    margin: 0.25em 0;
    background-color: rgba(222, 222, 222, 0.1);
  }
}

// Panel header buttons
.large-button {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 0.2em !important;
  filter: brightness(1);
  transition: filter 0.3s ease, opacity 0.3s ease;

  &:hover {
    filter: brightness(0.8);
  }
}

.panel-control-buttons {
  display: flex;

  > div:not(:last-child) {
    margin-right: 0.5em;
  }
}

.panel-header-parse-button {
  background-color: hsl(150, 40%, 25%);
}

.panel-header-clear-button {
  background-color: brown;
}

.panel-header-close-button {
  background-color: darkolivegreen;
}

.panel-header-save-button {
  display: none;
  opacity: 0;
  visibility: hidden;
  background-color: #2f6b63;
}

.panel-header-import-button {
  background-color: #502f6b;
}

.panel-header-export-button {
  background-color: #2f4c6b;
}

.panel-header-copy-button,
.panel-header-date-button {
  background-color: steelblue;
}

.panel-header-toggle-button {
  background-color: #144e9d;
}

.panel-header-toggle-media-messages-button {
  background-color: darkslategray !important;
  svg {
    stroke: #71c4c4 !important;
  }
  &.active {
    background-color: #71c4c4 !important;
    svg {
      stroke: darkslategray !important;
    }
  }
}

.panel-header-toggle-mention-messages-button {
  background-color: saddlebrown !important;
  svg {
    stroke: #ffa07a !important;
  }
  &.active {
    background-color: #ffa07a !important;
    svg {
      stroke: saddlebrown !important;
    }
  }
}

.panel-header-one-day-back-button,
.panel-header-one-day-forward-button {
  background-color: darkcyan;
}

.panel-header-shuffle-button {
  background-color: hsl(250, 40%, 40%);

  &.today {
    background-color: hsl(50, 100%, 15%);
  }
}

// Chat user list
#chat-general {
  .userlist-content {
    opacity: 0;
  }

  .smile-tab {
    position: relative;
    z-index: 1;
  }
}

.chat-user-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20px;
  padding-top: 8px;
  width: 200px;
  height: 94%;
  overflow-y: auto;
  overflow-x: hidden;

  [class^="rank-group"] {
    display: flex;
    flex-direction: column;
  }

  [class^="user"] {
    display: inline-flex;
    margin: 2px 0;
  }

  .name {
    text-decoration: none;
    display: inline-flex;
    width: auto;
    height: 24px;
    line-height: 24px;
    padding: 0 8px;
    max-width: 124px;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      text-decoration: underline;
    }
  }

  .profile,
  .tracked,
  .ignored,
  .moderator {
    display: inline-flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
  }
}

// Mention highlight
.mention {
  display: inline-flex;
  color: #83cf40;
  font-family: Roboto Mono, monospace;
  font-weight: bold;
}

// Popup chat messages
.popup-messages-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: start;
  user-select: none;
  pointer-events: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
}

.popup-chat-message {
  display: flex;
  align-items: center;
  background-color: hsl(100, 50%, 10%);
  position: relative;
  max-width: 70vw;
  border-radius: 0.2em !important;
  color: hsl(100, 50%, 50%);
  border: 1px solid hsl(100, 50%, 25%);
  padding: 4px;
  margin: 6px 15vw;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  animation: fadeIn 0.3s ease-in-out forwards;

  > div {
    padding: 2px;
    display: flex;
    font-family: "Montserrat", sans-serif;
  }

  .time,
  .time-icon {
    opacity: 0.7;
  }

  &.fade-out {
    animation: fadeOut 0.3s ease-in-out forwards;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

// Empowerment voice settings
.voice-settings {
  position: absolute;
  top: 65px;
  right: 70px;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-family: Orbitron, sans-serif;

  .voice-value-info {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 6px;
  }

  .voice-speed {
    color: hsl(100, 50%, 50%);
  }

  .voice-speed-progress {
    display: block;
    width: 120px;
    height: 12px;
    background-color: hsl(90, 60%, 30%);

    .voice-speed-progress-fill {
      display: block;
      height: 100%;
      background-color: hsl(90, 60%, 50%);
    }
  }

  .voice-pitch {
    color: hsl(180, 60%, 50%);
  }

  .voice-pitch-progress {
    display: block;
    width: 120px;
    height: 12px;
    background-color: hsl(180, 60%, 30%);

    .voice-pitch-progress-fill {
      display: block;
      height: 100%;
      background-color: hsl(180, 60%, 50%);
    }
  }
}

// Tablets (768px to 991px)
@media (max-width: 991px) {
  .scroll-buttons-container {
    position: absolute !important;
    right: 0.5em !important;
    justify-content: end !important;
  }
}

// Very Small Screens (up to 630px)
@media (max-width: 630px) {
  .scroll-buttons-container {
    display: none !important;
  }
}
